.card {
	width: 260px;
	overflow: hidden;
	height: 130px;
}

.title {
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.header {
	cursor: pointer;
	height: 70px;
	width: 260px;
	@include flex;
	gap: 10px;
}

.body {
	width: 260px;
	@include flex;
}

.setting {
	cursor: default;
}

.icon {
	font-size: 28px;
}
