.tag {
	position: relative;
	min-width: 55px !important;

	&:hover .option {
		opacity: 1;
	}
}

.option {
	position: absolute;
	right: 5px;
	opacity: 0;
	transition: all .3s ease-in-out;
	@include flex;
	gap: 5px;
}
