.icon {
	cursor: pointer;
	font-size: 22px;
	padding: 4px;
	border-radius: 5px;
	transition: background .3s ease-in-out;

	&:hover {
		background: var(--chakra-colors-bg-200);
	}
}

.form {
	padding: 12px;
	@include flex-col;
	gap: 10px;
}

.picker {
	margin: 12px !important;
}
